div.container{
    display: grid;
}
div.item1{
    background-color: aliceblue;
    text-align: center;
}

div.item2{
    background-color: antiquewhite;
    text-align: center;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}